{% extends 'base.html.twig' %}

{% block body %}
    {% set ruta = app.request.get('_route') %}
    <div class="container-fluid" id="wrapper">
        <div class="row">
    {% block navbar %}
        <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
            <h1 class="site-title">
                <a href="{{ path('inicio') }}">
                    <img src="{{ asset('images/mind-icon.png') }}" alt="Mind icon" height="40px">MIND
                </a>
            </h1>

            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <em class="fa fa-bars"></em>
            </a>

            <ul class="nav nav-pills flex-column sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if ruta == 'inicio' %}active{% endif %}" href="{{ path('inicio') }}">
                        <em class="fa fa-dashboard"></em>
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if ruta == 'presentacion' %}active{% endif %}" href="widgets.html">
                        <em class="fa fa-calendar-o"></em>
                        Presentación
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if ruta == 'ayuda' %}active{% endif %}" href="charts.html">
                        <em class="fa fa-bar-chart"></em>
                        Ayuda
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if ruta == 'contacto' %}active{% endif %}" href="elements.html">
                        <em class="fa fa-hand-o-up"></em>
                        Contacto
                    </a>
                </li>
            </ul>

            <a href="{{ path('fos_user_security_logout') }}" class="logout-button"><em class="fa fa-power-off"></em> Salir</a>
        </nav>
    {% endblock %}
        <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
        </main>
        <footer>

        </footer>
            </div>
        </div>
{% endblock %}